files:
  "/etc/nginx/conf.d/healthd.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      log_format healthd '$msec"$uri"'
        '$status"$request_time"$upstream_response_time"$http_x_forwarded_for';

      access_log  /var/log/nginx/healthd/application.log healthd;
      error_log   /var/log/nginx/healthd/application_error.log;

commands:
  create_healthd_dir:
    command: "mkdir -p /var/log/nginx/healthd && chown nginx:nginx /var/log/nginx/healthd"
